h1 {
    color: rgb(232, 70, 21);
    font-family: "Aladin";
    font-size: 60px;
    line-height: 0.5;
}

body {
    background-color: rgb(78, 28, 57);
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 1.5;
}

li {
    color: rgb(255, 185, 15);
    text-align: left;
    margin: 20px;
}

.wmd-view-topscroll, .wmd-view {
    width: auto; 
    overflow-x: scroll; 
    overflow-y: hidden; 
    box-shadow: 1px 1px 5px;
}

.wmd-view-topscroll { 
    height: 20px; 
}

.scroll-div { 
    height: 20px; 
}

.historyList {
    width: auto;
    height: auto; 
    list-style-image: url('162291.jpg');
    list-style-position: inside;
    background-color: rgb(78, 28, 59);
}



