h1 {
    color: rgb(232, 70, 21);
    font-family: "Aladin";
    font-size: 60px;
    line-height: 0.5;
}

body {
    background-color: rgb(78, 28, 57);
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 1.5;
}

li{
    color: rgb(255, 185, 15);
    text-align: left;
    margin: 20px;
}


.wmd-view, .wrapper1 {
    box-shadow: 1px 1px 5px;
    overflow-x: scroll;
    height: auto;
    box-sizing: border-box;
}

.div1{
    width: auto; 
    overflow-x: scroll;
    overflow-y: hidden;
    height:auto;
}

.historyList{

    list-style-image: url('162291.jpg');
    list-style-position: inside;
    width: auto;
    height: auto;
    background-color: rgb(78, 28, 59);
    
}



